.main-div{
    display: flex;
    flex-wrap: wrap;
    width: "18rem";
    border: 1px solid rgb(245, 210, 245);
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    

}


.card-wrapper {
    width: "18rem";
    border: 1px solid rgb(245, 210, 245);
  
    margin-top: 20px;
    margin-left: 20px;
    
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}
.checkBox{
   display: flex;
   justify-content:flex-end;
}

.checkbox-input{
    justify-content:flex-end;

}