.contactMe-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.contactMe{
    
}

.contactInfo-div{
    margin-top:0 ;
 display: flex;
 flex-direction: row;
padding-left: 100px;
}
.contactInfo{
    font-weight: 400px;
    margin-right: 10px;
}