.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-text {
    text-align: center;
    color: white;
    font-size: 10px;
}

.btn {
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(150, 150, 228);
}