.input-form {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 290px;
}

.input {
    height: 30px;
    margin-top: 5px;
}
.add-new-task-button{
   
    height: 30px;
    margin-top: 20px;

}
.datapicker-input{
    margin-top:10px ;
}