.square{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left:0;
    top:0;
}

.actions{
    margin-top: 400px;
    display: flex;
    justify-content: center;
    gap:7px;
}