.not-found{
    width: 700px;
    height:400px;
   /* background: url(../../../public/images/back.jpg);*/
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 60PX;
    color: black;
    font-weight: 400;
}